# ============================
# Python & Jupyter
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
*.egg-info/
.venv/
env/
venv/
*.log

# ============================
# Data Files (ignore raw, keep cleaned/rollups)
# ============================
data/*.csv
!data/*_rollup.csv
!data/ecommerce_transactions_clean.csv

# ============================
# Power BI
# ============================
*.pbix
!powerbi/*.png

# ============================
# System / IDE
# ============================
.DS_Store
Thumbs.db
.vscode/
*.code-workspace
